.hero-illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  padding-left: 35px;
}

.hero-section h1 {
  font-size: 60px;
}

.hero-section h2 {
  font-weight: 400;
  font-size: 28px;
  color: var(--secondary-color);
  position: relative;
  right: 140px;
  margin-bottom: 15px;
}

.hero-section p {
  font-size: 18px;
  font-weight: 100;
  margin: 25px 0 60px 0;
}

.shecodes-foundation {
  color: var(--secondary-color);
}

.shecodes-foundation:hover {
  color: var(--light-color);
}

.skill-overview {
  text-align: center;
  color: var(--dark-color);
}

.skill-row {
  margin-top: 15px;
}

.split-line {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skill-title {
  font-size: 15px;
  font-weight: 600;
}

.logo {
  max-width: 45px;
}

.skill-text {
  display: block;
  font-size: 12px;
  font-weight: 200;
}

@media (max-width: 991px) {
  .hero-text {
    padding-left: 12px;
  }
}

@media (max-width: 475px) {
  .hero-section h2 {
    right: 75px;
  }
}

@media (max-width: 430px) {
  .hero-section h1 {
    font-size: 44px;
  }
}
