.hero-section h2 {
  margin: 15px 0 60px 0;
  font-size: 20px;
  font-weight: 100;
}

.subject-header {
  font-family: var(--heading-font);
  font-size: 26px;
}

.homepage-sections p {
  font-weight: 200;
  font-size: 15px;
  line-height: 1.7;
}

.homepage-sections h2 {
  font-size: 34px;
}

.section-item {
  padding: 0 30px;
  text-align: center;
}
.section-image {
  max-width: 300px;
}

@media (max-width: 767px) {
  .second-image {
    margin-top: 50px;
  }
  .homepage-sections {
    padding-left: 0;
    padding-right: 0;
  }
}
