:root {
  --primary-color: #114e60;
  --secondary-color: #f5cebe;
  --light-color: #f4eee8;
  --dark-color: #325288;
  --heading-font: "Over the Rainbow", cursive;
  --body-font: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
}

h1 {
  font-family: var(--heading-font);
  font-size: 68px;
}

h2 {
  margin: 15px 0 60px 0;
  font-size: 20px;
  font-weight: 100;
}
img {
  width: 100%;
}
.primary-button {
  background-color: var(--secondary-color);
  padding: 13px 25px;
  text-decoration: none;
  border-radius: 4px;
  color: black;
}
a:hover {
  color: black;
}
.homepage-hero {
  padding: 75px 0;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

.fa-home {
  font-size: 25px;
  color: var(--primary-color);
}

.topic-illustrations {
  margin-top: 30px;
}
@media (max-width: 540px) {
  h1 {
    font-size: 45px;
  }
}

/*font-family: 'Over the Rainbow', cursive;
font-family: 'Rambla', sans-serif; */

/* background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%); 
background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
*/
