body {
  text-align: center;
}

h1 {
  font-family: "Over the Rainbow", cursive;
  font-size: 68px;
}
h3,
h5 {
  font-family: "Rambla", sans-serif;
}

/*font-family: 'Over the Rainbow', cursive;
font-family: 'Rambla', sans-serif; */
