.hero-section h1 {
  font-size: 60px;
}

.page-intro {
  padding-top: 40px;
}

.intro-text {
  max-width: 750px;
}

.split-line {
  margin-top: 40px;
  margin-bottom: 48px;
}

.work-company {
  border: 1px solid #e6e6e6;
  padding: 0;
}

.middle {
  margin-left: 8px;
  margin-right: 8px;
}

.company-title {
  background: #e6e6e6;
}

.company-text,
.company-logo {
  display: inline-block;
  vertical-align: middle;
}

.company-name {
  display: inline;
  font-size: 16px;
  font-weight: 300;
}

.years {
  font-size: 13px;
  font-style: italic;
  font-weight: 200;
  display: block;
}

.logo {
  width: 40px;
  margin: 5px 10px 5px 20px;
}

@media (max-width: 991px) {
  .middle {
    margin: 0;
  }

  .work-company {
    margin-bottom: 25px;
  }
}

@media (max-width: 765px) {
  .page-intro {
    margin: 0 10px;
  }
}

@media (max-width: 475px) {
  .hero-section h1 {
    font-size: 44px;
  }
}

@media (max-width: 326px) {
  .linkedin-button {
    display: none;
  }
}
