.hero-illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  padding-left: 35px;
}

.hero-section h1 {
  font-size: 60px;
}

.hero-section h2 {
  font-weight: 400;
  font-size: 28px;
  color: var(--secondary-color);
  position: relative;
  right: 140px;
  margin-bottom: 15px;
}

.hero-section p {
  font-size: 18px;
  font-weight: 100;
  margin: 25px 0 60px 0;
}

.work-intro {
  width: fit-content;
  margin: 0 auto;
  padding-top: 40px;
}

.meet-you {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.intro-text {
  text-align: center;
  max-width: 750px;
}

.split-line {
  margin-top: 40px;
  margin-bottom: 48px;
}

.work-company {
  border: 1px solid #e6e6e6;
  padding: 0;
}

.middle {
  margin-left: 8px;
  margin-right: 8px;
}

.company-title {
  background: #e6e6e6;
}

.company-text,
.company-logo {
  display: inline-block;
  vertical-align: middle;
}

.company-name {
  display: inline;
  font-size: 16px;
  font-weight: 300;
}

.years {
  font-size: 13px;
  font-style: italic;
  font-weight: 200;
  display: block;
}

.logo {
  width: 40px;
  margin: 5px 10px 5px 20px;
}

@media (max-width: 991px) {
  .hero-text {
    padding-left: 12px;
  }
  .middle {
    margin: 0;
  }

  .work-company {
    margin-bottom: 25px;
  }
}

@media (max-width: 765px) {
  .work-intro {
    margin: 0 10px;
  }
}

@media (max-width: 475px) {
  .hero-section h1 {
    font-size: 44px;
  }

  .hero-section h2 {
    right: 75px;
  }
}

@media (max-width: 326px) {
  .linkedin-button {
    display: none;
  }
}
